$primary-color: #272727;
$text-color: #fff;
$accent-color: blue;

/*use the following to  create map in scss*/
$font-weight: (
    "regular": 100,
    "medium": 500,
    "bold": 700
);

$font-size: (
    "min": 12px,
    "max": 18px,
    "others": 80px
);


$mobile: 768px;